/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  height: 100%;
}
body {
  height: 100%;
  /* background-color: rgb(10, 10, 31); */

}
#root {
  height: 100%;
  /* background-color: rgb(10, 10, 31); */

}
.container {
  height: 88%;
  display: flex;
  justify-content: center;
  background-color: rgb(23, 23, 53);

}
.Layout {
  height: 100%;
  /* background-color: rgb(10, 10, 31); */
}
