.ClientRegisterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ClientRegisterWrapper input {
  width: 100%;
  background-color: rgb(29, 29, 54);
  border: none;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
  height: 30px;
}
.ValidUsername:focus {
  width: 100%;
  background-color: rgb(29, 29, 54);
  border: 1px green solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}
.InvalidUsername:focus {
  width: 100%;
  background-color: rgb(29, 29, 54);
  border: 1px red solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}
.ClientPasswordField {
  display: flex;
  margin-top: 15px;
  background-color: rgb(29, 29, 54);
  border-radius: 5px;
  height: 33px;
  width: 103%;
}
.ValidPassword:focus {
  /* height: 33px; */
  width: 103%;
  background-color: rgb(29, 29, 54);
  border: 1px green solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}
.InvalidPassword:focus {
  /* height: 33px; */
  width: 103%;
  background-color: rgb(29, 29, 54);
  border: 1px red solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}

.ClientRegisterBirthDate {
  color: rgb(203, 200, 233);
}
.BirthDateLabel {
  font-size: 10px;
  color: rgb(203, 200, 233);
}

.UsernameError {
  color: red;
  font-size: 11px;
  height: 16px;
}
.PasswordError {
  color: red;
  font-size: 11px;
  height: 16px;
  margin-bottom: 10px;
}
