.MessageReplyWrapper {
  display: flex;
  justify-content: space-around;
  height: 15%;
  width: 100%;
  border-top: 1px grey solid;
}

.MessageReplyWrapper input {
  display: flex;
  align-self: center;
  height: 80%;
  border: 1px rgb(201, 200, 200) solid;
  border-radius: 20px;
  outline: none;
}

.MessageReplyWrapper button {
  align-self: center;
}