.AdminRegisterWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AdminRegisterWrapper input {
  width: 100%;
  height: 30px;
  background-color: rgb(29, 29, 54);
  border: none;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}

.ValidUsername:focus {
  width: 100%;
  background-color: rgb(29, 29, 54);
  border: 1px green solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}
.InvalidUsername:focus {
  width: 100%;
  background-color: rgb(29, 29, 54);
  border: 1px red solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}
.AdminPasswordField {
  display: flex;
  margin-top: 10px;
  background-color: rgb(29, 29, 54);
  border-radius: 5px;
  height: 33px;
  width: 103%;
}
.ValidPassword:focus {
  height: 33px;
  width: 103%;
  background-color: rgb(29, 29, 54);
  border: 1px green solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}
.InvalidPassword:focus {
  height: 33px;
  width: 103%;
  background-color: rgb(29, 29, 54);
  border: 1px red solid;
  border-radius: 5px;
  color: rgb(203, 200, 233);
  outline: none;
  padding-left: 10px;
}

.UsernameError {
  color: red;
  font-size: 11px;
  height: 16px;
}
.PasswordError {
  color: red;
  font-size: 11px;
  height: 16px;
  margin-bottom: 8px;
}