.SlotSpinButton {
  background-color: rgb(51, 255, 0);
  width: 12%;
  border-radius: 150px;
  font-size: 3vh;
  font-weight: 900;
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
}

.SlotSpinButton:hover {
  background-color: rgb(41, 206, 0);
  transform: scale(1.05);
}